@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700 ');

a {
    font-family: "Quicksand",
        sans-serif;
    color: #7b6e5e;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px;
}


/* Social-media icons for footer */
div,
social-icons {
    margin: 0px;
}

li {
    list-style: none;
    margin: 0px 6px;
    display: inline-block;
    padding: 0;

}

.list-inline-icons li a i {
    font-size: 32px;
    color: #7b6e5e;

}

.list-inline-icons {
    padding: 0;
    margin: 0;
}

.col {
    padding: 10px;
}

.social-icons {
    margin: 0;
}